@use "../../assets/sass/_variables.scss" as *;

.counter-card {
    height: 10rem;
    width: 10rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}